:root {
  --bg-semi-transparent: rgba(241, 242, 243, .95);
}

.navbar-toggler,
.navbar-toggler:focus {
  border: unset;
  box-shadow: none;
}

.navbar-brand {
  margin-inline-start: .75rem;
  opacity: 1;
  transition: opacity .3s ease;
}

.navbar-custom {
  font-family: 'montserrat';
  font-size: 16px;
  font-weight: 700;
  max-width: 800px;
  margin: auto;
}

.nav-link {
  display: inline-block;
  position: relative;
  color: var(--pink-dark);
}

.nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--text-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link:hover>span {
  color: var(--text-color);
  border-color: var(--text-color);
}

.nav-link:last-of-type {
  margin-inline-start: auto;
  color: var(--green-darker);
}

.nav-link:last-of-type:hover {
  color: var(--text-color);
}

.navbar-nav {
  align-items: center;
  gap: 30px;
  width: 100%;
}

.navbar-nav a:hover {
  opacity: 100%;
}

a:hover .navbar-nav {
  opacity: 50%;
}

#nav-collapse.bg-add,
#nav-container.bg-add {
  background-color: var(--bg-semi-transparent);
  /* -webkit-backdrop-filter: blur(2em);
  backdrop-filter: blur(2em); */
}

.hamburger {
  padding: unset !important;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 32px !important;
  height: 3px !important;
  background-color: var(--pink-darker) !important;
}

.hamburger-box {
  width: 32px !important;
}

#nav-container {
  border-radius: 20px;
  padding-block: 4px;
}

.navbar-title {
  display: none;
  opacity: 0;
  font-family: "dafoe";
  font-weight: 400;
  font-size: 20px;
  color: var(--pink-darker);
  transition: opacity 300ms;
}

@media screen and (max-width: 991px) {
  #nav-container {
    margin-left: calc(var(--bs-gutter-x) * .5);
    margin-right: calc(var(--bs-gutter-x) * .5);
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    max-width: unset;
  }

  .navbar-title {
    display: block;
  }

  .navbar-title[data-is-hidden=true] {
    opacity: 1;
  }

  .navbar-nav {
    gap: 5px;
  }

  .nav-link:last-of-type {
    margin-inline-start: unset;
  }

  #nav-collapse {
    padding-block: 1em;
    border-radius: 0 0 20px 20px;
  }
}

.badge.badge-custom {
  margin-inline-start: 12px;
  border: solid 1px var(--pink-dark);
  color: var(--pink-dark);
  font-weight: 600;
}