.main-button {
    background-image: linear-gradient(to right, #71a396, #2e6b59, #eafbf6, #d0ece5);
    background-size: 300% 100%;
    border: solid 1px var(--green-darker);
    color: var(--bg-default);
    font-weight: 700;
    width: max-content;
    padding: 8px 18px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    margin-inline-end: 6px;
    font-family: 'montserrat';
}

.main-button:hover {
    background-position: 100% 0;
    color: var(--green);
    transform: translateY(-3px);
}

/* .project-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .project-button > .main-button {
    margin-right: 0 !important;
  } */

/* Media Query */
@media (max-width: 768px) {
    .main-button {
        font-size: 0.938rem;
        padding: 8px 14px;
    }
}

@media (max-width: 320px) {
    .main-button {
        font-size: 0.75rem;
    }
}