.main-button {
    background-color: var(--green);
    border: solid 1px var(--green-darker);
    color: var(--bg-default);
    font-weight: 700;
    width: max-content;
    padding: 8px 14px;
    text-transform: uppercase;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    margin-inline-end: 6px;
    font-family: 'montserrat';
}

.main-button:hover {
    background-color: var(--bg-default);
    color: var(--green);
    transition: all 0.3s ease 0s;
    transform: translateY(-3px);
}

/* .project-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .project-button > .main-button {
    margin-right: 0 !important;
  } */

/* Media Query */
@media (max-width: 768px) {
    .main-button {
        font-size: 0.938rem;
        padding: 8px 14px;
    }
}

@media (max-width: 320px) {
    .main-button {
        font-size: 0.75rem;
    }
}