@font-face {
  font-family: 'dafoe';
  src: url('../res/MrDafoe-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'montserrat';
  src: url('../res/Montserrat-Regular.ttf') format('truetype');
}

:root {
  --white: #ffffff;
  --bg-default: #f1f2f3;
  --pink-dark: #A95A63;
  --pink-darker: #863e47;
  --pink-bright-1: #E1CADE;
  --pink-bright-2: #ece8ec;
  --pink-selected: #6A2E56;
  --text-color: #202020;
  --subtext-color: #414141;
  --green: #CAE0DA;
  --green-darker: #2e6b59;
  --gray: #ece8ec99;
  --bg-semi-transparent: #f1f2f380;
  --transparent: rgba(0, 0, 0, 0);
}

body {
  background-color: var(--bg-default);
}

.hide {
  opacity: 0 !important;
}

.container-custom-bg {
  position: relative;
}